[user]
    name = Injoong Yoon
    email = 27440940+AttilaTheHen@users.noreply.github.com

[color]
    ui = auto

[core]
	editor = nova --wait
    excludesfile = /Users/injoongyoon/.gitignore-global

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = nova --wait --diff $LOCAL $REMOTE

[log]
    date = relative

[format]
    pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(12,trunc)%aN %C(auto,reset)%s%C(auto,red)% %C(auto,reset)%b% %C(auto,red)%gD% D

[init]
    defaultBranch = main

[pull]
    rebase = false
